.formBlock{
    width: 50%;
    min-width: 250px;
    min-height: 300px;
    background-color: #e8e8e8;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input{
    min-height: 50px;
}

.textarea{
    min-height: 170px;
}