.skillsBlock{
    min-height: 100vh;
    background-color: #d5eaab;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 0;
}

.skillsContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    background-color: #e8e8e8;
    margin: 0 auto;
}

.skills{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}