.footerBlock{
    min-height: 40vh;
    background-color: #d5eaab;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.footerContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    background-color: #e8e8e8;
}